@page
@model GenericRazorPortfolio.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}



<div class="py-5 text-center">

    <h1>Our Gallery</h1>

    <form method="post">
        <input @(Model.TokenValid ? "" : "hidden") asp-page-handler="CreateImage" type="submit" value="Post Image" class="btn btn-success" />
    </form>




    <link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>

    @{
        for (int i = 0; i < Model.Images.Count; i++)
        {
            <a id="edit-@i" asp-page="EditImage" asp-route-id="@Model.Images[i].Id"><i class="fas fa-pen-square"></i></a>
        }

    }


    <div id="nanogallery2">gallery_made_with_nanogallery2</div>

    <script>


        var a = null;
        var done = null;


        jQuery(document).ready(function () {




              a =  jQuery("#nanogallery2").nanogallery2({
                    // ### gallery settings ###
                    thumbnailHeight: 200,
                  thumbnailWidth: 200,
                  galleryRenderDelay: 0,

                    thumbnailLabel: {
                        position: "overImageOnBottom",
                        display: false
                    },
                    descriptionMultiLine: true,
                    thumbnailAlignment: "center",
                    thumbnailOpenImage: true,

                    viewerTools: {
                        topLeft: "label"
                    },

                    // ### gallery content ###
                  items: [
                    @{
                        foreach (var image in Model.Images)
                        {
                            @:{ src: '@image.Link', srct: '@image.ThumbnailLink', title: '@{

                                if (!String.IsNullOrEmpty(image.Title)) {

                                    <text>"@image.Title" by @image.Author</text>

                                }

                                } ', description: '@if (!String.IsNullOrEmpty(image.Description)) {@image.Description}' },


                        }
                                }


                  ],



                }


               );


        });



    </script>


</div>




