@page
@model GenericRazorPortfolio.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}



<div class="py-5 text-center">

    <h1>Our Gallery</h1>

    <form method="post">
        <input @(Model.TokenValid ? "" : "hidden") type="submit" value="Post Image" class="my-4 btn btn-success" />
    </form>




    <link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>



    <div class="container text-center">

        <div id="nanogallery2">gallery_made_with_nanogallery2</div>

    </div>



    <script>


        jQuery(document).ready(function () {
            jQuery("#nanogallery2").nanogallery2({
               items: [
                    @{

                        if (Model.Images != null)

                        foreach (var image in Model.Images)
                        {
                            @:{ src: '@image.Link', srct: '@image.ThumbnailLink', title: '@{

                                if (!String.IsNullOrEmpty(image.Title)) {

                                    <text>"@image.Title"</text>

                                }
                                <text> by @image.Author</text>

                                } ', description: '@if (!String.IsNullOrEmpty(image.Description)) {@image.Description}',  customData: { imgId: @image.Id} },


                        }
                                }


                ],

                viewerTools: {
                    topLeft: 'label, pageCounter',
                },
                thumbnailWidth: 200,
                thumbnailHeight: 200,

                fnThumbnailInit: myTnInit,
                // locationHash: false

            });
        });




        // Add custom elements after one thumbnail is build
        function myTnInit($e, item, GOMidx) {

            console.log("I am alive!")
            var html = [];


            html.push('<a @(Model.TokenValid ? "" : "hidden") href="/EditImage?id=', item.customData.imgId, '" style="text-shadow: 0 0 3px #000; position:absolute;top:10px;right:10px; color:white; font-size: 32px;"><i class="editIcon fas fa-pen-square"></i></a>')


            $e.find('.nGY2GThumbnailSub').append(html.join(""));
        }




    </script>

</div>




